*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

:root{
    --moradoB: #0f0f12;
    --moradoW:#18181f;
    --morado: #6f42c1;
    --letra: #8a8a9e;
    --titulos: #d7ccff;
    --border: #262633;
}

body{
    min-height: 100vh;
}
.navbar-Betancourt{
    background-color: #0f0f12;
    color: var(--letra);
    padding: 10px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.005);
    top: 0;
    z-index: 1000;

}

.Nombre{
    color: #8a8a9e;
}

.nav-item{
    color: var(--letra);
}

.logo{
    width:105px;
}

.opcion-menu{
    color: var(--letra);
    font-weight: 700;
    font-size: 29%;
    position: relative;
}

.opcion-menu::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--letra);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.3s ease;
}

.opcion-menu:hover{
    color: var(--morado);
}

.opcion-menu:hover::after{
    width: 100%;
}

.btn-login-nav{
    background-color: var(--morado);
    color: var(--letra);
    border-radius: 10px;
    padding-bottom: 8px 30px;
    font-weight: 700;
}

.btn-login-nav:hover{
    background-color: var(--letra);
    color: var(--morado);
    border-radius: 10px;
    padding-bottom: 8px 30px;
    font-weight: 700;
}

.btn-contactenos-nav{
    background-color: var(--morado);
    color: var(--letra);
    border-radius: 10px;
    padding-bottom: 8px 30px;
    font-weight: 700;
}

.btn-contactenos-nav:hover{
    background-color: var(--letra);
    color: var(--morado);
    border-color: 10px;
    padding-bottom: 8px 30px;
    font-weight: 700;
}
