@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(to bottom,  #360d5d 0%,  #1c0833 40%, #030914 100%);
    font-family: Bebas Neue;
    background-size: cover ;
    background-attachment: fixed;
    color: aliceblue;
}

header{
    display: flex;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255,255, 255, 0.1);
    border: 1px solid rgba(255,255,255, 0.4);
    box-shadow: 0 25px 45px rgba(0,0,0, 0.4);
    justify-content: space-between; 
    padding: 20px;
}


.navegar{
    position: relative;
    padding: 10px 20px;
    background: rgba(255,255,255, 0.4);
    border: 1px solid rgba(255,255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: #aac7ca;  
}

.navegar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 40px;
}

.navegar ul li a{
    color: #303030;
    text-decoration: none;
    font-size: 40px;
    font-family: Bebas Neue;
    padding: 8px;
    transition: all 0.3s ease;
}

.navegar ul li a:hover{
    background: rgba(255,255, 255, 0.1);
    border-radius: 30px;
    color: #ffffff;
}

.nosotros{
    background: rgba(255,255,255, 0.4);
    display: flex;  
    text-align: left;
    padding: 5px;
    font-size: 30px;
    flex-direction: column;
    color: #888888;
    border:ridge;
    border-radius: 10px;
    border-color: #2d185f;
}

aside img{
    mix-blend-mode: multiply;
    width: 350px;
    height: 250px;
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    animation: moverAuto  1.0s ease-in-out infinite alternate;
}
@keyframes moverAuto {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-80px); 
  }
}


