@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../img/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2{
    text-align: center;
    color: rgba(70, 2, 2, 0.295);
}

.espejo{
    position: relative;
    width: 300px;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255,255, 255, 0.1);
    border: 1px solid rgba(255,255,255, 0.4);
    box-shadow: 0 25px 45px rgba(0,0,0, 0.4);
}

.datos{
    width: 100%;
    padding: 15px 20px;
    background: rgba(255,255, 255, 0.2);
    border: none;
    outline: none;
    border-radius: 35px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.05);
}

button{
    margin: auto;
    border-radius: 25px;
    border-style: groove;
    border-color: rgba(150, 30, 54, 0.548);
    background-color: rgba(0,0,0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.555);
}

label{
    color: rgba(68, 33, 33, 0.767);
}

input{
    background: rgba(0,0,0, 0.10);
    border-radius: 15px;
    border: none;

}
