*{
    background-color: #0f0f12;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    display: flex;
    font-size: 25px;
}
.logo{
    display: flex;
    width: 10%;
    width: 10%;
    border-radius: 15px;
}
.titulo{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    color: rgb(247, 244, 244);
}
.body{
    display: flex;
    flex-direction: column;
    font-size: large;
    padding: 10px;
    border-radius: 20px;
    width: 20%;
    background-color: #18181f;
    border: solid 1px #443166;
    box-shadow: 10px 10px 10px;
    gap: 3px;
}
.body input:focus, select:focus{
    border-color: #6f42c1;
    outline: none;
}
.body input, select{
    font-size: 30px;
    margin-top: 5px;
    background-color: #262633;
    border-radius: 10px;
    color: rgb(218, 214, 214);
    transition: 0.3s;
}
.body label{
    font-size: 25px;
    color: rgb(247, 244, 244);
    background-color: initial;
}
.final{

    display: flex;
    width: 90%;
    justify-content: end;
}
.final button{
    font-size: 20px;
}
.rpedido{
    display: flex;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: #6f42c1;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
}
.rpedido:hover{
    background-color: #5a32a3;
}
