*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --oscuro-fondo:#0f0f12;
    --morado-principal:#5f1ed7;
    --morado-clarito:#6f42c1;
    --blanco-suave:#f1f1f4;
    --gris-texto:#a3a3b8;
}

body{
    background:var(--oscuro-fondo);
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}


.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100vh;
    background:#1f2937;
    padding:25px;
}

.sidebar h2{
    color:white;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px 15px;
    margin-bottom:10px;
    border-radius:10px;
    transition:.3s;
}

.sidebar a:hover{
    background:#374151;
}

.sidebar .activo{
    background:var(--morado-principal);
}

.contenido{
    margin-left:250px;
    padding:30px;
}

.cuadros{
    width:100%;
}

.encabezado{
    background:#12121a;
    border:3px solid var(--morado-principal);
    border-radius:15px;
    padding:25px;
}

.encabezado h2{
    margin-bottom:8px;
}

.encabezado h5{
    color:var(--gris-texto);
}


.busquedar{
    display:flex;
    gap:25px;
    align-items:flex-start;
    margin-top:30px;
}

.contenedor-cards{
    width:300px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.card{
    background:#12121a;
    border:3px solid #2d1b69;
    border-radius:15px;
    color:white;
    padding: 20px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.header span{
    font-size:18px;
}

.header i{
    width:40px;
    height:40px;
    background:white;
    color:var(--morado-principal);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card h2{
    font-size:32px;
}

.card p{
    color:var(--gris-texto);
}

.tabla-contenedor{
    flex:1;
    overflow-x:auto;
}

#tablaProveedores{
    width:100%;
}

#tablaProveedores th{
    background:var(--morado-principal);
    color:white;
    text-align:center;
    white-space:nowrap;
    border: 3px solid var(--oscuro-fondo);
}

#tablaProveedores td{
    white-space:nowrap;
    text-align: left;
    background-color: var(--morado-principal);
    border: 3px solid var(--oscuro-fondo);
    color: var(--blanco-suave);
    font-size: 15px;
    
}

.btn-registrar{
    margin-top:20px;
    background:linear-gradient(135deg,#5f1ed7,#6f42c1);
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
}

.btn-registrar:hover{
    color:white;
    transform:translateY(-2px);
}

.modal-header,
.modal-body,
.modal-footer{
    background:var(--morado-principal);
    color:white;
}

.modal-footer button{
    background:white;
    color:black;
}

@media(max-width:992px){

    .sidebar{
        position:relative;
        width:100%;
        height:auto;
    }

    .contenido{
        margin-left:0;
    }

    .busquedar{
        flex-direction:column;
    }

    .contenedor-cards{
        width:100%;
    }

    .tabla-contenedor{
        width:100%;
    }

}